@{
    ViewBag.Title = "Home Page";
}
<script src="~/Content/JavaScript.js"></script>

<!--palindrome array-->
<button onclick="checkPalindrome()">Palindrome?</button>
<button onclick="alphOrder()">Alphabetical?</button>
<button onclick="tringle()">Tringle</button>

<button onclick="luckyNumber()">Lucky Number</button>
<button onclick="max()">Largest and in chargest</button>
<button onclick="firstOfArray()">First in Line</button>
<p id="firstofArray"></p>


<p>Write something in the search field and press "ENTER".</p>

<input type="search" id="myInput" onsearch="myHWFunction()">

<p id="demo"></p>


<select id="mySelect" onchange="myFunctionDi()">
    <option value="Puppy">Puppy
    <option value="flower">flower

</select>
<div>
    
    <img id="myImg" src="" width="407" height="498">
</div>

@*<form action="/action_page.php" onsearch="myFunction2()">
        Enter name: <input type="text" name="fname">
        <input type="submit" value="Submit">
    </form>*@


